@import "tailwindcss";
@import "tw-animate-css";
@font-face {
  font-family: "pricedown";
  src: url("/pricedown.otf");
}
html,
body {
  font-family: "pricedown";
}

html {
  scroll-behavior: smooth;
}
